<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Document Storage</title>
</head>

<body>
    <table>
        <tbody>
        <tr><td><span><span th:text="|${entityName}s|">Entities</span> in storage:</span></td></tr>
        <tr th:if="${inStorage.empty}">
        <td colspan="2">No <span th:text="|${entityName}s|">Entities</span> Available</td>
        </tr>
        <tr th:if="${entityName} == 'Document'" th:each="entry : ${inStorage}">
            <td><span th:utext="${entry.path}">Document Title</span></td>
            <td><a href="content" th:href="@{~/DocumentStorageWithSearchCapability/rest/doc/{name}/content(name=${entry.name})}">Get Content</a></td>
            <td><a href="download" th:href="@{~/DocumentStorageWithSearchCapability/rest/doc/{name}(name=${entry.name})}">Download</a></td>
        </tr>
        <tr th:if="${entityName} == 'User'" th:each="entry : ${inStorage}">
            <td><span th:utext="${entry.name}">User name</span></td>
            <td><span th:utext="|Groups: |">Group name</span></td>
            <td><th:block th:each="group : ${entry.groups}"><span th:utext="|${group.name}   |">Groups</span></th:block></td>
<!--            <th:block th:each="group : ${entry.groups}"><td><span th:utext="|Group: ${group.name}; |">User's Groups</span></td></th:block>-->
        </tr>
        <tr th:if="${entityName} == 'Group'" th:each="entry : ${inStorage}">
            <td><span th:utext="${entry.name}">Group name</span></td>
            <td><span th:utext="|Docs: |">Docs</span></td>
            <td><th:block th:each="docPermissions : ${entry.documentsPermissions}"><span th:utext="|[${docPermissions}]  |">Permissions</span></th:block></td>
            <td><span th:utext="| Users: |">Group's users</span></td>
            <td><th:block th:each="user : ${entry.users}"><span th:utext="|${user.name} |">Group's users</span></th:block></td>
            <!--<th:block th:each="user : ${entry.users}">
                <td><span th:utext="|${user.name} |">Group's users</span></td>-->
<!--                <th:block th:each="group : ${user.groups}"><td><span th:text="|${group.name} |">Group Name</span></td></th:block>-->
            <!--</th:block>-->
        </tr>
        <tr th:if="${entityName} == 'DocGroupPermissions'" th:each="entry : ${inStorage}">
            <td><span th:utext="|Group id: ${entry.group.id}, Doc id: ${entry.document.id}, Permissions: ${entry.permissions}|">Group Id</span></td>
        </tr>
        </tbody>
    </table>
</body>
</html>
<!--<body>-->
<!--<section th:fragment="fragment1">-->
<!--    <div th:text="${message}" />-->
<!--</section>-->
<!--<p th:utext="${inStorageContentBuilder}"> Document Title </p>-->
<!--<section th:fragment="fragment2">-->
<!--    <div th:text="${message}" />-->
<!--</section>-->
<!--</body>-->