<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Document Storage</title>
</head>

<body>
    <table>
        <tbody>
        <tr><td><span>Files in storage:</span></td></tr>
        <tr th:if="${inStorage.empty}">
        <td colspan="2">No Documents Available</td>
        </tr>
        <tr th:each="entry : ${inStorage}">
            <td><span th:utext="${entry.path}">Document Title</span></td>
            <td><a href="content" th:href="@{~/DocumentStorageWithSearchCapability/rest/doc/{name}/content(name=${entry.name})}">Get Content</a></td>
            <td><a href="download" th:href="@{~/DocumentStorageWithSearchCapability/rest/doc/{name}(name=${entry.name})}">Download</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>
<!--<body>-->
<!--<section th:fragment="fragment1">-->
<!--    <div th:text="${message}" />-->
<!--</section>-->
<!--<p th:utext="${inStorageContentBuilder}"> Document Title </p>-->
<!--<section th:fragment="fragment2">-->
<!--    <div th:text="${message}" />-->
<!--</section>-->
<!--</body>-->